/*
 * This is the SCSS file for the log in view
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * SASS -> http://sass-lang.com/
 */

/* 
 * colors pallete theme from
 * http://www.colourlovers.com/palette/222832/Gods_Daughter
 */


$awning:			#62A07B;
$rainForest:		#4F8B89;
$darkeningSky:		#536C8D;	
$purpleHeliotrope:	#5C4F79;
$plumWine:			#613860;
$grey:              #ccc;     // Body

#login {
	margin:0 auto;
    width: 350px;
    padding: 20px;
    border: 1px solid #270644;
 
    /*** Adding in CSS3 ***/
 
    /*** Rounded Corners ***/
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
 
    /*** Background Gradient - 2 declarations one for Firefox and one for Webkit ***/
    background:  -moz-linear-gradient(19% 75% 90deg,$rainForest, $darkeningSky);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from($rainForest), to($darkeningSky));
 
    /*** Shadow behind the box ***/
    -moz-box-shadow:0px -5px 300px $purpleHeliotrope;
    -webkit-box-shadow:0px -5px 300px $purpleHeliotrope;
}

input {
    width: 230px;
    background: #8a33c6;
    padding: 6px;
    margin-bottom: 10px;
    border-top: 1px solid #ad64e0;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
 
    /*** Adding CSS3 ***/
 
    /*** Transition Selectors - What properties to animate and how long ***/
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
 
    /*** Adding a small shadow ***/
    -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
}

input:hover {
    -webkit-box-shadow: 0px 0px 4px #000;
    background: #9d39e1;
}

input.submit {
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: #000 1px 1px;
    border-top: 1px solid #ad64e0;
    margin-top: 10px;
}

input.submit {
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: #000 1px 1px;
    border-top: 1px solid #ad64e0;
    margin-top: 10px;
 
    /*** Adding CSS3 Gradients ***/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9));
    background:  -moz-linear-gradient(19% 75% 90deg,#781bb9, #963AD6);
}
	
/****************************************************
 *  BODY
 ***************************************************/
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin:      0;
  padding:     10px;
  background-color: $grey;
}