@charset "UTF-8";
/*
 * This is the SCSS file for the log in view
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * SASS -> http://sass-lang.com/
 */

// colors pallete theme from
// http://www.colourlovers.com/palette/222832/Gods_Daughter

// **************** Defined Colors ************************* 

$grey:  #ccc;
$white: #fff;
$black: #000;

// the menu color from http://www.corvallismontessori.org/
$cmsLightBlue: #019fd5;

// the ACTIVE menu color from http://www.corvallismontessori.org/
$cmsDarkBlue: #006383;

// the green horizontal bar from http://www.corvallismontessori.org/
$cmsGreen:        #56ac2a;
$reallyLightBlue: #ddeeff;
$cmsWhiteBoarder: #d6e6eb;

// ************ Color Theme ***************************

//Main
$boxShadow:			 $cmsLightBlue;
$bodyBackGround: $white;
$border:				 $cmsGreen;

//Text Box Colors
$inputBoarder:			   $cmsGreen;
$inputBackground:      $white;
$inputBackgroundHover: $cmsGreen;

//Submit Button Colors
$submitBoarder:			    $cmsGreen;
$submitBackground:      $cmsLightBlue;
$submitBackHover:       $cmsDarkBlue;
$submitTextColor:		    $white;
$submitTextShadowColor: $cmsGreen;


// ************ End Color Theme ************************


// Mixins
@mixin transAll($speed){
 /* Transitions: Default, Webkit, Presto, Mozzila/Gecko */
  -webkit-transition: all $speed;
  -moz-transition:    all $speed;
  -o-transition:      all $speed;
  transition:         all $speed;
 /* End Transitions */
}

@mixin borderRadius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -o-border-radius:      $radius;
  border-radius:         $radius;
}

@mixin boxShadow($pos, $color){
  -webkit-box-shadow: $pos $color;
  -moz-box-shadow:    $pos $color;
  -o-box-shadow:      $pos $color;
  box-shadow:         $pos $color;
}
// End Mixins

body {
  font-family:      Tahoma, Geneva, Arial, Helvetica, sans-serif;
  font-size:        16px;
  letter-spacing:   1px;
  font-weight:      bold;
  margin:           0;
  padding:          10px;
  background-color: $bodyBackGround;
}

#login {
  margin:         70px auto;
  width:          400px;
  border:         3px solid $border;
  background:     $reallyLightBlue;
  padding-top:    20px;
  padding-left:   20px;
  padding-right:  20px;
  padding-bottom: 20px;
  @include borderRadius(5px);
  @include boxShadow(2px 5px 10px, $boxShadow);
}

img{ padding-bottom: 20px; }

input {
  width:         270px;
  background:    $inputBackground;
  padding:       6px;
  margin-bottom: 10px;
  border:        0;
  border:        3px solid $inputBoarder;
  @include transAll(0.25s);
  @include boxShadow(0px 0px 2px, #000);
  &:hover{
    @include boxShadow(0px 0px 4px, #000);
    background: $inputBackgroundHover;
  }
  &.submit{
    font-family:    Tahoma, Geneva, Arial, Helvetica, sans-serif;
    font-size:      16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:    bold;
    width:          100px;
    color:          $submitTextColor;
    background:     $submitBackground;
    margin-top:     10px;
    border:         2px solid $submitBoarder;
    @include borderRadius(5px);
  }
  &.submit:hover{
    border:     2px solid $submitBoarder;
    background: $submitBackHover;
  }
}

#helpDiv {
  float:       left;
  width:       70%;
  padding-top: 15px;
}

#submitDiv {
  float: right;
  width: 30%;
}

// HACKY REMOVE ...........
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    min-width: 0;
    display: inline-block; /* \*/
    display: block;
    margin-top: 5px;
}
