/*
 * This is the SCSS file for the log in view
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * SASS -> http://sass-lang.com/
 */

// colors pallete theme from
// http://www.colourlovers.com/palette/222832/Gods_Daughter

$awning:			     #62A07B;
$darkeningSky:     #536C8D;  
$grey:             #ccc;     // Body
$rainForest:	     #4F8B89;
$plumWine:         #613860;
$purpleHeliotrope: #5C4F79;

// Mixins
@mixin transAll($speed){
 /* Transitions: Default, Webkit, Presto, Mozzila/Gecko */
  -webkit-transition: all $speed;
  -moz-transition:    all $speed;
  -o-transition:      all $speed;
  transition:         all $speed;
 /* End Transitions */
}
// End Mixins

#login {
  margin:  0 auto;
  width:   350px;
  padding: 20px;
  border:  1px solid #270644;
  /*** Adding in CSS3 ***/
  
  /*** Rounded Corners ***/
  -webkit-border-radius: 20px;
  -moz-border-radius:    20px;
  -o-border-radius:      20px;
  border-radius:         20px;
  
  
  /*** Background Gradient ***/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($rainForest), to($darkeningSky));
  background: -moz-linear-gradient(19% 75% 90deg,$rainForest, $darkeningSky);
  background: -o-linear-gradient(19% 75% 90deg,$rainForest, $darkeningSky);
  background: linear-gradient(19% 75% 90deg,$rainForest, $darkeningSky);
  
   
  /*** Shadow behind the box ***/
  -webkit-box-shadow:0px -5px 300px $purpleHeliotrope;
  -moz-box-shadow:   0px -5px 300px $purpleHeliotrope;
  -o-box-shadow:     0px -5px 300px $purpleHeliotrope;
  box-shadow:        0px -5px 300px $purpleHeliotrope;
  
}

input {
  width:         230px;
  background:    $awning;
  padding:       6px;
  margin-bottom: 10px;
  border:        0;
  border-top:    1px solid $rainForest;
   
  /*** Adding CSS3 ***/
   
  /*** Transition Mixin ***/
  @include transAll(0.25s);
   
  /*** Adding a small shadow ***/
  -webkit-box-shadow: 0px 0px 2px #000;
  -moz-box-shadow:    0px 0px 2px #000;
  -o-box-shadow:      0px 0px 2px #000;
  box-shadow:         0px 0px 2px #000;
  &:hover{
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow:    0px 0px 4px #000;
    -o-box-shadow:      0px 0px 4px #000;
    box-shadow:         0px 0px 4px #000;
    background: $rainForest;
  }
  &.submit{
    width:          100px;
    color:          #fff;
    text-transform: uppercase;
    text-shadow:    #000 1px 1px;
    border-top:     1px solid $rainForest;
    margin-top:     10px;
    
    /*** Adding CSS3 Gradients ***/
    // Not sure if you want to specify the positions with percentages.
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963AD6), to(#781bb9));
    background:  -moz-linear-gradient(19% 75% 90deg, #781bb9, #963AD6);
    background:  -o-linear-gradient(19% 75% 90deg, #781bb9, #963AD6);
    background:  linear-gradient(19% 75% 90deg, #781bb9, #963AD6);
  }
}
	
/****************************************************
 *  BODY
***************************************************/
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin:      0;
  padding:     10px;
  background-color: $grey;
}