@charset "UTF-8";
/*
 * This is the SCSS file for the log in view
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * SASS -> http://sass-lang.com/
 */

// colors pallete theme from
// http://www.colourlovers.com/palette/222832/Gods_Daughter

$awning:			    #62A07B;
$darkeningSky:     		#536C8D;  
$rainForest:	    	#4F8B89;
$plumWine:         		#613860;
$purpleHeliotrope: 		#5C4F79;
$grey:             		#ccc;
$black:					#000;
$colorY:				#270644;

// ************ Color Theme ***************************

//Main
$backgroundGradiant1:	$rainForest;
$backgroundGradiant2:	$darkeningSky;
$boxShadow:				$purpleHeliotrope;
$bodyBackGround:		$grey;
$boarder:				$colorY;

//Text Box Colors
$inputBackground:		$awning;
$inputBackgroundHover:	$rainForest;
$inputBoarder:			$rainForest;

//Submit Button Colors
$submitGradiant1:		$rainForest;
$submitGradiant2:		$awning;		
$submitBoarder:			$rainForest;
$submitTextColor:		$black;
$submitTextShadowColor: $grey;

// ************ End Color Theme ************************


// Mixins
@mixin transAll($speed){
 /* Transitions: Default, Webkit, Presto, Mozzila/Gecko */
  -webkit-transition: all $speed;
  -moz-transition:    all $speed;
  -o-transition:      all $speed;
  transition:         all $speed;
 /* End Transitions */
}
// End Mixins

#login {
  margin:  70px auto;
  width:   350px;
  padding: 20px;
  border:  1px solid $boarder;
  /*** Adding in CSS3 ***/
  
  /*** Rounded Corners ***/
  -webkit-border-radius: 20px;
  -moz-border-radius:    20px;
  -o-border-radius:      20px;
  border-radius:         20px;
  
  
  /*** Background Gradient ***/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($backgroundGradiant1), to($backgroundGradiant2));
  background: -moz-linear-gradient(19% 75% 90deg,$backgroundGradiant1, $backgroundGradiant2);
  background: -o-linear-gradient(19% 75% 90deg,$backgroundGradiant1, $backgroundGradiant2);
  background: linear-gradient(19% 75% 90deg,$backgroundGradiant1, $backgroundGradiant2);
  
   
  /*** Shadow behind the box ***/
  -webkit-box-shadow:0px -5px 300px $boxShadow;
  -moz-box-shadow:   0px -5px 300px $boxShadow;
  -o-box-shadow:     0px -5px 300px $boxShadow;
  box-shadow:        0px -5px 300px $boxShadow;
  
}

input {
  width:         230px;
  background:    $inputBackground;
  padding:       6px;
  margin-bottom: 10px;
  border:        0;
  border-top:    1px solid $inputBoarder;
   
  /*** Adding CSS3 ***/
   
  /*** Transition Mixin ***/
  @include transAll(0.25s);
   
  /*** Adding a small shadow ***/
  -webkit-box-shadow: 0px 0px 2px #000;
  -moz-box-shadow:    0px 0px 2px #000;
  -o-box-shadow:      0px 0px 2px #000;
  box-shadow:         0px 0px 2px #000;
  &:hover{
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow:    0px 0px 4px #000;
    -o-box-shadow:      0px 0px 4px #000;
    box-shadow:         0px 0px 4px #000;
    background: $inputBackgroundHover;
  }
  &.submit{
    width:          100px;
    color:          $submitTextColor;
    text-transform: uppercase;
    text-shadow:    $submitTextShadowColor 1px 1px;
    border-top:     1px solid $submitBoarder;
    margin-top:     10px;
    
    /*** Adding CSS3 Gradients ***/
    // Not sure if you want to specify the positions with percentages.
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($submitGradiant1), to($submitGradiant2));
    background:  -moz-linear-gradient(19% 75% 90deg, $submitGradiant2, $submitGradiant1);
    background:  -o-linear-gradient(19% 75% 90deg, $submitGradiant2, $submitGradiant1);
    background:  linear-gradient(19% 75% 90deg, $submitGradiant2, $submitGradiant1);
  }
  &.submit:hover{
    /*** Adding CSS3 Gradients ***/
    // Not sure if you want to specify the positions with percentages.
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($submitGradiant2), to($submitGradiant1));
    background:  -moz-linear-gradient(19% 75% 90deg, $submitGradiant1, $submitGradiant2);
    background:  -o-linear-gradient(19% 75% 90deg, $submitGradiant1, $submitGradiant2);
    background:  linear-gradient(19% 75% 90deg, $submitGradiant1, $submitGradiant2);
  }
}

	
/****************************************************
 *  BODY
***************************************************/
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin:      0;
  padding:     10px;
  background-color: $bodyBackGround;
}