/*
 * This is the SCSS file for the log in view
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * SASS -> http://sass-lang.com/
 */
#login {
  margin: 0 auto;
  width: 350px;
  padding: 20px;
  border: 1px solid #270644;
  /*** Adding in CSS3 ***/
  /*** Rounded Corners ***/
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  /*** Background Gradient - 2 declarations one for Firefox and one for Webkit ***/
  background: -moz-linear-gradient(19% 75% 90deg, #4f8b89, #536c8d);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f8b89), to(#536c8d));
  /*** Shadow behind the box ***/
  -moz-box-shadow: 0px -5px 300px #5c4f79;
  -webkit-box-shadow: 0px -5px 300px #5c4f79;
}

input {
  width: 230px;
  background: #62a07b;
  padding: 6px;
  margin-bottom: 10px;
  border-top: 1px solid #4f8b89;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  /*** Adding CSS3 ***/
  /*** Transition Selectors - What properties to animate and how long ***/
  -webkit-transition-property: -webkit-box-shadow, background;
  -webkit-transition-duration: 0.25s;
  /*** Adding a small shadow ***/
  -moz-box-shadow: 0px 0px 2px #000;
  -webkit-box-shadow: 0px 0px 2px #000;
}

input:hover {
  -webkit-box-shadow: 0px 0px 4px #000;
  background: #4f8b89;
}

input.submit {
  width: 100px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: #000 1px 1px;
  border-top: 1px solid #4f8b89;
  margin-top: 10px;
  /*** Adding CSS3 Gradients ***/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963ad6), to(#781bb9));
  background: -moz-linear-gradient(19% 75% 90deg, #781bb9, #963ad6);
}

/****************************************************
 *  BODY
 ***************************************************/
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #cccccc;
}
