@charset "UTF-8";
/*
 * This is the SCSS file for the log in view
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * SASS -> http://sass-lang.com/
 */

// colors pallete theme from
// http://www.colourlovers.com/palette/222832/Gods_Daughter

// **************** Defined Colors ************************* 

$grey:  #ccc;
$white: #fff;
$black: #000;

// the menu color from http://www.corvallismontessori.org/
$cmsLightBlue: #019fd5;

// the ACTIVE menu color from http://www.corvallismontessori.org/
$cmsDarkBlue: #006383;

// the green horizontal bar from http://www.corvallismontessori.org/
$cmsGreen:        #56ac2a;
$reallyLightBlue: #ddeeff;
$cmsWhiteBoarder: #d6e6eb;

// ************ Color Theme ***************************

//Main
$boxShadow:			 $cmsLightBlue;
$bodyBackGround: $white;
$border:				 $cmsGreen;

//Text Box Colors
$inputBoarder:			   $cmsGreen;
$inputBackground:      $white;
$inputBackgroundHover: $cmsGreen;

//Submit Button Colors
$submitBoarder:			    $cmsGreen;
$submitBackground:      $cmsLightBlue;
$submitBackHover:       $cmsDarkBlue;
$submitTextColor:		    $white;
$submitTextShadowColor: $cmsGreen;

// ************ End Color Theme ************************
$font-family:   Verdana, Arial, Helvetica, sans-serif;

// Mixins
@mixin transAll($speed){
 /* Transitions: Default, Webkit, Presto, Mozzila/Gecko */
  -webkit-transition: all $speed;
  -moz-transition:    all $speed;
  -o-transition:      all $speed;
  transition:         all $speed;
 /* End Transitions */
}

@mixin borderRadius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -o-border-radius:      $radius;
  border-radius:         $radius;
}

@mixin boxShadow($pos, $color){
  -webkit-box-shadow: $pos $color;
  -moz-box-shadow:    $pos $color;
  -o-box-shadow:      $pos $color;
  box-shadow:         $pos $color;
}

@mixin transform($param){
  -webkit-transform: $param;
  -moz-transform:    $param;
  -o-transform:      $param;
  transform:         $param;
}
// End Mixins

body {
  font-family:      $font-family;
  font-size:        16px;
  letter-spacing:   1px;
  font-weight:      bold;
  background-color: $bodyBackGround;
}

#login {
  margin:         100px auto;
  width:          425px;
  border:         3px solid $border;
  background:     $reallyLightBlue;
  padding:        20px;
  @include borderRadius(5px);
  @include boxShadow(2px 5px 10px, $boxShadow);
}

#changePassword {
  margin:         100px auto;
  width:          475px;
  border:         3px solid $border;
  background:     $reallyLightBlue;
  padding:        20px;
  @include borderRadius(5px);
  @include boxShadow(2px 5px 10px, $boxShadow);
}

img{ padding-bottom: 20px; }

#bottom{
  height:      30px;
  padding-top: 10px;
  a{
   position: relative;
   top:      5px;
  }
}

input {
  width:         270px;
  padding:       6px;
  margin-bottom: 10px;
  border:        0;
  border:        solid 1px #E5E5E5;
  background: #FFF url('bg_form.png') left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(#FFF), color-stop(4%, #EEE), to(#FFF));
  background: -moz-linear-gradient(top, #FFF, #EEE 1px, #FFF 25px);
  @include boxShadow(0px 0px 2px, #000);
  @include transAll(0.5s ease-in-out);
  &.submit{
    font-family:    $font-family;
    font-size:      16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:    bold;
    float:          right;
    width:          100px;
    cursor:         pointer;
    color:          $submitTextColor;
    background:     $submitBackground;
    border:         2px solid $submitBoarder;
    @include borderRadius(5px);
  }
  &.submit:hover{
    border:     2px solid $submitBoarder;
    background: $submitBackHover;
  }
}