@charset "UTF-8";
/*
 * This is the scss/css file for styling forms
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * testing
 * SASS -> http://sass-lang.com/
 */

// ************ Color Theme ***************************

$formBackgroundColor:    $reallyLightBlue;
$formBorder:             $cmsGreen;
$submitButtonColor:      $cmsLightBlue;
$submitButtonHoverColor: $cmsDarkBlue;
$submitBoarder:          $cmsGreen;
$submitButtonTextColor:  $white;
$fieldsetBorder:         $cmsGreen;
$formShadow:             $cmsLightBlue;


// ****************************************************

form {
  position:       relative;
  width:          75%;
  margin:         10px auto;
  border:         solid 3px $formBorder;
  background:     $formBackgroundColor;
  padding:        20px;
  padding-bottom: 55px;
  font-family:    $font-family;
  font-size:      16px;
  letter-spacing: 1px;
  font-weight:    bold;
  @include borderRadius(5px);
  @include boxShadow(2px 5px 10px, $formShadow);
}

input, textarea {
  padding:    9px;
  border:     solid 1px #E5E5E5;
  outline:    0;
  width:      auto;
  background: #FFF url('bg_form.png') left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(#FFF), color-stop(4%, #EEE), to(#FFF));
  background: -moz-linear-gradient(top, #FFF, #EEE 1px, #FFF 25px);
  @include boxShadow(0px 0px 8px, rgba(0,0,0, 0.1)) 
}

textarea {
  width:       400px;
  max-width:   400px;
  height:      150px;
  line-height: 150%;
}  

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #C9C9C9;
  @include boxShadow(0px 0px 8px, rgba(0, 0, 0, 0.15));
}

.form label {
  margin-left: 10px;
  color:       #999999;
}

.submit{  
  float:      right;
  width:      auto;
  padding:    9px 15px;
  background: $submitButtonColor;
  cursor:     pointer;
  font-size:  14px;
  color:      $submitButtonTextColor;
  border:     2px solid $submitBoarder;
  @include borderRadius(5px);
  &:hover{
    border:     2px solid $submitBoarder;
    background: $submitButtonHoverColor;
  }
}

.validationBox{
  border:        2px solid #e92516;
  padding-left:  5px;
  margin-bottom: 10px;
  p{
    color:       #eb460d;
    font-size:   18px;
    font-weight: bold;
  }
}

legend{
  padding-left:  10px;
  padding-right: 10px;
}

fieldset{
  border:        solid 2px $fieldsetBorder;
  margin-bottom: 15px;
  padding:       25px;
  ul {
    padding:         0;
    list-style-type: none;
    li{
      clear:         both;
      margin-bottom: 0.5em;
      &.longlabel label{
        width:   auto;
        float:   none;
        display: block;
      }
      &.longlabel input{
        left:     100px;
        position: relative;
      }
    }
    label{
      padding-top: 10px;
      width:       200px;
      display:     block;
      float:       left;
      text-align:  right;
    }
    input{ margin-left: 0.5em; }
  }
  .radioButtons{
    padding-top:    10px;
    padding-bottom: 10px;
    margin-left:    20px;
  }
}

#filtering_form{
  width:            100%;
  border:           0;
  position:         static;
  margin:           0;
  padding:          0;
  background-color: inherit;
  font-weight:      inherit;
  font-size:        inherit;
  font-family:      inherit;
  input{
    margin:  0;
    padding: 0;
    position: static;
  }
}