/*
 * This is the Master SCSS file for the Corvallis Montessori School Student-Parent Administration web application
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * testing
 * SASS -> http://sass-lang.com/
 */
html, body {
  height: 100%; }

/****************************************************
 *  BODY
 ***************************************************/
body {
  font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 10px; }

/****************************************************
 *  Main
 ***************************************************/
#main {
  margin: 0 auto;
  padding: 0;
  min-width: 780px;
  max-width: 1120px;
  min-height: 500px;
  background-color: #5c4f79; }

/****************************************************
 *  HEADER
 ***************************************************/
#header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF; }

/****************************************************
 *  TOP MENU - Needs work
 ***************************************************/
#topNav {
  position: relative;
  bottom: 0;
  height: 30px;
  text-align: right;
  background-color: #4f8b89; }
  #topNav ul {
    list-style: none;
    margin-bottom: 0; }
    #topNav ul li {
      font-size: 11px;
      display: inline;
      position: relative;
      padding: 2px;
      background-color: #5c4f79;
      display: inline-block; }
      #topNav ul li:hover > ul {
        visibility: hidden; }
      #topNav ul li a {
        font-size: 80%;
        color: #613860;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        background-image: url("../images/nav.png");
        background-position: top 0;
        background-repeat: repeat-x;
        display: inline-block;
        text-decoration: none; }
        #topNav ul li a:hover {
          background-position: 0 -45px;
          color: #5c4f79; }
        #topNav ul li a:active {
          background-position: 0 -90px;
          color: #5c4f79;
          outline: none; }
      #topNav ul li ul {
        position: absolute;
        top: 23px;
        display: block;
        visibility: hidden;
        text-align: center;
        min-width: 75px;
        border: 1px solid #b4b4b4;
        background-color: #ddd; }
        #topNav ul li ul li {
          display: list-item;
          padding: 5px 0;
          margin: 10px 0;
          border: 1px solid #ccc; }

/****************************************************
 *  SIDE BAR
 ***************************************************/
#sideBar {
  width: 200px;
  float: left;
  padding: 5px;
  text-align: center;
  word-wrap: break-word; }
  #sideBar ul {
    list-style: none;
    padding: 0; }

#alert {
  cursor: default;
  position: relative; }
  #alert:first-child {
    color: #bd0000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline; }
  #alert:hover > div {
    visibility: visible;
    opacity: 1; }
  #alert div {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 100px;
    top: 30px;
    width: 500px;
    background-color: #ccc;
    padding: 5px;
    /* Transitions: Default, Webkit, Presto, Mozzila/Gecko */
    transition-property: opacity, visibility;
    transition-duration: 0.75s;
    -webkit-transition: opacity 0.75s, visibility 0.75s;
    -o-transition-property: opacity, visibility;
    -o-transition-duration: 0.75s;
    -moz-transition-property: opacity, visibility;
    -moz-transition-duration: 0.75s;
    /* End Transitions */ }

/****************************************************
 *  CONTENT
 ***************************************************/
#content {
  padding: 10px 5px 5px 5px;
  margin-left: 210px;
  min-height: 557px;
  background-color: #536c8d; }

/****************************************************
 *  FOOTER
 ***************************************************/
#footer {
  padding-top: 10px;
  min-height: 54px;
  text-align: center;
  background-color: #4f8b89; }
