@charset "UTF-8";
/*
 * This is the Master SCSS file for the Corvallis Montessori School Student-Parent Administration web application
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * testing
 * SASS -> http://sass-lang.com/
 */
html, body {
  height: 100%;
}

/****************************************************
 *  BODY
 ***************************************************/
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #cccccc;
}

/****************************************************
 *  Main
 ***************************************************/
#main {
  margin: 0 auto;
  padding: 0;
  min-width: 780px;
  max-width: 1120px;
  min-height: 500px;
  background-color: #5c4f79;
}

/****************************************************
 *  HEADER
 ***************************************************/
#header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #cccccc;
}

/****************************************************
 *  TOP MENU
 ***************************************************/
#topNav {
  position: relative;
  bottom: 0;
  height: 30px;
  background-color: #4f8b89;
}
#topNav ul {
  float: right;
  list-style: none;
  margin: 0;
}
#topNav ul > :nth-child(n+1) {
  padding-right: 1px;
}
#topNav ul > :last-child {
  padding-right: 0;
}
#topNav ul a {
  white-space: nowrap;
}
#topNav ul li {
  font-size: 11px;
  float: left;
  position: relative;
  display: inline-block;
  background-color: #5faba9;
}
#topNav ul li:hover > ul {
  right: 20px;
  visibility: visible;
  opacity: 1;
  top: 30px;
}
#topNav ul li a {
  color: #cccccc;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  display: inline-block;
  text-decoration: none;
  background-image: url("../images/nav.png");
  background-repeat: repeat-x;
  background-position: top 0 0;
}
#topNav ul li a:hover {
  color: #5c4f79;
  background-position: 0 -45px;
}
#topNav ul li a:active {
  color: #62a07b;
  outline: none;
  background-position: 0 -90px;
}
#topNav ul li ul {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  /* Transitions: Default, Webkit, Presto, Mozzila/Gecko */
  -webkit-transition: all 0.375s;
  -moz-transition: all 0.375s;
  -o-transition: all 0.375s;
  transition: all 0.375s;
  /* End Transitions */
}
#topNav ul li ul > :nth-child(n+1) {
  padding-bottom: 1px;
  padding-right: 0;
}
#topNav ul li ul > :last-child {
  padding-bottom: 0;
}
#topNav ul li ul li {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px !important;
}
#topNav ul li ul li a {
  width: 100%;
  margin: 0 -10px;
  padding: 0  10px;
}

/****************************************************
 *  SIDE BAR
 ***************************************************/
#sideBar {
  width: 200px;
  float: left;
  padding: 5px;
  text-align: center;
  word-wrap: break-word;
}
#sideBar ul {
  list-style: none;
  padding: 0;
}

#alert {
  cursor: default;
  position: relative;
}
#alert:first-child {
  color: #bd0000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
}
#alert:hover > div {
  visibility: visible;
  opacity: 1;
}
#alert div {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 100px;
  top: 30px;
  width: 500px;
  background-color: #ccc;
  padding: 5px;
  /* Transitions: Default, Webkit, Presto, Mozzila/Gecko */
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -o-transition: all 0.75s;
  transition: all 0.75s;
  /* End Transitions */
}

/****************************************************
 *  CONTENT
 ***************************************************/
#content {
  padding: 10px 5px 5px 5px;
  margin-left: 210px;
  min-height: 557px;
  background-color: #536c8d;
}

/****************************************************
 *  FOOTER
 ***************************************************/
#footer {
  padding-top: 10px;
  min-height: 54px;
  text-align: center;
  background-color: #4f8b89;
}
