@charset "UTF-8";
/*
 *  This is the Master CSS file for the Corvallis Montessori School Student-Parent Administration web application
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * testing
 */

html,body {
	height: 100%;
}

/****************************************************
 *  BODY
 ***************************************************/
body {
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 10px;
}

/****************************************************
 *  Main
 ***************************************************/
#main {
	margin: 0 auto;
	padding: 0;
	min-width: 780px;
	max-width: 1120px;
	min-height: 500px;
	background-color: #99FFCC;
}

/****************************************************
 *  HEADER
 ***************************************************/
#header {
	width: 100%;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}

/****************************************************
 *  TOP LOG-IN SECTION
 ***************************************************/
#log {
	border: 2px solid #55cc00;
	height: 45px;
	width: 250px;
	padding-top: 30px;
	text-align: center;
	float: right;
}

/****************************************************
 *  TOP MENU - Needs work
 ***************************************************/
#topNav {
	position: relative;
	bottom: 0;
	height: 30px;
	text-align: right;
	background-color: #99FFFF;
}

#topNav ul {
	list-style: none;
	margin-bottom: 0;
	padding: 3px;
	background-color: #019fd5;
}

#topNav ul li {
	line-height: 100%;
	font-size: 11px;
	display: inline;
	padding: 5px 20px;
	position: relative;
	border: 1px solid #ddd;
}

#topNav ul li ul {
	position: absolute;
	top: 23px;
	display: block;
	visibility: hidden;
	text-align: center;
	background-color: #ddd;
	border: 1px solid #b4b4b4;
	min-width: 75px;
}

#topNav ul li ul li {
	display: list-item;
	padding: 5px 0;
	margin: 10px 0;
	border: 1px solid #ccc;
}

#topNav ul li:hover>ul {
	visibility: visible;
}

/****************************************************
 *  SIDE BAR
 ***************************************************/
#sideBar {
	width: 200px;
	float: left;
	padding: 5px;
	text-align: center;
	list-style: none;
}

#alert {
	cursor: default;
	position: relative;
}

#alert>:first-child {
	color: #bd0000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: underline;
}

#alert div {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: 100px;
	top: 30px;
	width: 500px;
	background-color: #ccc;
	padding: 5px;
	/* Transitions: Default, Webkit, Presto, Mozzila/Gecko */
	transition-property: opacity, visibility;
	transition-duration: 0.75s;
	-webkit-transition: opacity 0.75s, visibility 0.75s;
	-o-transition-property: opacity, visibility;
	-o-transition-duration: 0.75s;
	-moz-transition-property: opacity, visibility;
	-moz-transition-duration: 0.75s;
	/* End Transitions */
}

#alert:hover>div {
	visibility: visible;
	opacity: 1;
}

/****************************************************
 *  CONTENT
 ***************************************************/
#content {
	padding: 5px;
	margin-left: 210px;
	min-height: 557px;
	background-color: #66FFFF;
}

/****************************************************
 *  FOOTER
 ***************************************************/
#footer {
	padding-top: 10px;
	min-height: 54px;
	text-align: center;
	background-color: #019fd5;
}
