@charset "UTF-8";
/*
 * This is the Master SCSS file for the Corvallis Montessori School Student-Parent Administration web application
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * testing
 * SASS -> http://sass-lang.com/
 */

// **************** Defined Colors ************************* 
// colors pallete theme from
// http://www.colourlovers.com/palette/222832/Gods_Daughter

$awning:            #62A07B;
$rainForest:        #4F8B89;
$darkeningSky:      #536C8D; 
$purpleHeliotrope:  #5C4F79;
$plumWine:          #613860;
$grey:              #ccc;
$colorX:            #5FABA9;

// ************ Color Theme ***************************

//Header / footer
$upperHeaderColor:         $grey;
$headerAndFooterMainColor: $rainForest;

// Buttons
$button:      $grey;
$buttonHover: $purpleHeliotrope;
$buttonPush:  $awning;;
$navigationBarSeperator: $colorX;

// Body
$mainBodyBackground: $grey;
$main:               $purpleHeliotrope;

//content
$content: $darkeningSky;

//sidebars
$sideBar:  $purpleHeliotrope;
$sideBar2: $purpleHeliotrope;

// ************ End Color Theme ************************

// Other variables
$aTrans:     0.75s;    // Transition speed (menu nav 50% this speed)
$menuHeight: 30px;     // Height of the top menu [>45 yeilds undesireable results]

// Mixins
@mixin transAll($speed){
 /* Transitions: Default, Webkit, Presto, Mozzila/Gecko */
  -webkit-transition: all $speed;
  -moz-transition:    all $speed;
  -o-transition:      all $speed;
  transition:         all $speed;
 /* End Transitions */
}
@mixin mainButtons {
  a {
    color:           $button;
    height:          $menuHeight;
    line-height:     $menuHeight;
    padding:         0 10px;
    display:         inline-block;
    text-decoration: none;
    background:{
      image:    url("../images/nav.png");
      repeat:   repeat-x;
      position: top 0 0;
    }
    &:hover{
      color: $buttonHover;
      background-position: 0 -45px;
    }
    &:active{
      color: $buttonPush;
      outline: none;
      background-position: 0 -90px;
    }
  }
}
// End Mixins

html,body {
  height: 100%;
}

/****************************************************
 *  BODY
 ***************************************************/
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin:      0;
  padding:     10px;
  background-color: $mainBodyBackground;
}

/****************************************************
 *  Main
 ***************************************************/
#main {
  margin:     0 auto;
  padding:    0;
  min-width:  780px;
  max-width:  1120px;
  min-height: 500px;
  background-color: $main;
}

/****************************************************
 *  HEADER
 ***************************************************/
#header {
  width:   100%;
  margin:  0;
  padding: 0;
  background-color: $upperHeaderColor;
}

/****************************************************
 *  TOP MENU
 ***************************************************/
#topNav {
  position:   relative;
  bottom:     0;
  height:     $menuHeight;
  background-color: $headerAndFooterMainColor;
  ul{
    float:      right;
    list-style: none;
    margin:     0;
    &>:nth-child(n+1){
      padding-right: 1px;
    }
    &>:last-child{
      padding-right: 0;
    }
    a{
      white-space: nowrap;
    }
    li{
      font-size:   11px;
      float:       left;
      position:    relative;
      display:     inline-block;
      background-color: $navigationBarSeperator;
      &:hover > ul{
        visibility: visible;
        opacity:    1;
        top:        $menuHeight;
      }
      @include mainButtons;
      ul{
        position:      absolute;
        right:         20px; // Firefox has a bug and will not transition default values.
        top:           0;
        z-index:       1000;
        visibility:    hidden;
        opacity:       0;
        padding:       0;
        @include transAll($aTrans * 0.35);
        &>:nth-child(n+1){
          padding-bottom: 1px;
          padding-right:  0;
        }
        &>:last-child{
          padding-bottom: 0;
        }
        li{
          width:         100%;
          padding-left:  10px;
          padding-right: 10px !important;
          a{
            width:   100%;
            margin:  0 -10px;
            padding: 0  10px;
          }
        }
      }
    }
  }
}

/****************************************************
 *  SIDE BAR
 ***************************************************/
#sideBar {
  width:      200px;
  float:      left;
  padding:    5px;
  text-align: center;
  word-wrap:  break-word;  // CSS 3 -> Experimental.  If weird things happen remove this line.
  ul {
    list-style: none;
    padding:    0;
  }
}

/****************************************************
 *  CONTENT
 ***************************************************/
#content {
  padding:     10px 5px 5px; // Optimized short hand version of 10px 5px 5px 5px.
  margin-left: 210px;
  min-height:  557px;
  background-color: $content;
}

/****************************************************
 *  FOOTER
 ***************************************************/
#footer {
  padding-top: 10px;
  min-height:  54px;
  text-align:  center;
  background-color: $headerAndFooterMainColor;
}