@charset "UTF-8";
/*
 * This is the Master SCSS file for the Corvallis Montessori School Student-Parent Administration web application
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * testing
 * SASS -> http://sass-lang.com/
 */

// **************** Defined Colors ************************* 
$grey:  #ccc;
$white: #fff;
$black: #000;

// the menu color from http://www.corvallismontessori.org/
$cmsLightBlue: #019fd5;

// the ACTIVE menu color from http://www.corvallismontessori.org/
$cmsDarkBlue: #006383;

// the green horizontal bar from http://www.corvallismontessori.org/
$cmsGreen:              #56ac2a;
$cmsWhiteBoarder:       #d6e6eb;
$reallyLightBlue:       #ddeeff;
$reallyReallyLightBlue: #eeffff;

// ************ Color Theme ***************************

//Header / footer
$upperHeaderColor:         $white;
$headerAndFooterMainColor: $reallyReallyLightBlue;

// Nav Bar
$button:                 $cmsLightBlue;
$buttonTextColor:        $white;
$buttonHover:            $cmsDarkBlue;
$navigationBarSeperator: $white;

// shouldnt need this
$buttonPush: $cmsDarkBlue;

// Body
$mainBodyBackground: $white;
$main:               $reallyReallyLightBlue;

//sidebars
$sideBar:              $white;
$sideBar2:             $white;
$horizontalBars:       $cmsGreen;
$links:                $cmsGreen;
$formShadow:           $cmsLightBlue;
$formBorder:           $cmsGreen;
$forumBackgroundColor: $reallyLightBlue;

// ************ End Color Theme ************************

// Other variables
$aTrans:        0.75s;    // Transition speed (menu nav 50% this speed)
$menuHeight:    38px;     // Height of the top menu [>45 yeilds undesireable results]
$footerHeight:  75px;
$footerPadding: 10px;
$font-family:   Verdana, Arial, Helvetica, sans-serif;
// Tahoma, Geneva, Arial, Helvetica, sans-serif

// Mixins
@mixin transAll($speed){
 /* Transitions: Default, Webkit, Presto, Mozzila/Gecko */
  -webkit-transition: all $speed;
  -moz-transition:    all $speed;
  -o-transition:      all $speed;
  transition:         all $speed;
 /* End Transitions */
}

@mixin mainButtons {
  a {
    color:           $buttonTextColor;
    height:          $menuHeight;
    line-height:     $menuHeight;
    padding:         0 10px;
    display:         inline-block;
    text-decoration: none;
    background:{
      image:    url("../images/nav.png");
      repeat:   repeat-x;
      position: top 0 0;
    }
    &:hover{
      color: $buttonTextColor;
      background-position: 0 -45px;
    }
    &:active{
      color: $buttonTextColor;
      outline: none;
      background-position: 0 -90px;
    }
  }
}

@mixin borderRadius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -o-border-radius:      $radius;
  border-radius:         $radius;
}

@mixin boxShadow($pos, $color){
  -webkit-box-shadow: $pos $color;
  -moz-box-shadow:    $pos $color;
  -o-box-shadow:      $pos $color;
  box-shadow:         $pos $color;
}
// End Mixins

html,body {
  border-top: 2px solid $horizontalBars;
  height:     100%;
}

body {
  background-image:  url('../images/background.png');
  background-repeat: repeat;
  margin:0;
}

#main {
  position:         relative;
  font-family:      $font-family;
  margin:           0 auto;
  min-width:        780px;
  max-width:        1120px;
  min-height:       90%;
  background-color: $main;
  padding-bottom:   $footerHeight;
}

#header {
  margin:     0 auto;
  min-width:  780px;
  max-width:  1120px;
}

#topNav {
  background-color: $button;
  margin-top:       15px;
  position:         relative;
  bottom:           0;
  height:           $menuHeight;
  ul{
    float:      right;
    list-style: none;
    margin:     0;
    &>:nth-child(n+1){
      padding-right: 1px;
    }
    &>:last-child{
      padding-right: 0;
    }
    a{
      white-space: nowrap;
    }
    li{
      font-family:    Arial, Helvetica, sans-serif;
      font-size:      13px;
      letter-spacing: 1px;
      font-weight:    bold;
      border-left:    1px solid #FFFFFF;
      float:          left;
      position:       relative;
      display:        inline-block;
      &:hover > ul{
        visibility: visible;
        opacity:    1;
        top:        $menuHeight;
      }
      @include mainButtons;
      ul{
        position:   absolute;
        right:      20px;
        top:        $menuHeight + 10;  // Firefox has a bug and will not transition default values.
        visibility: hidden;
        opacity:    0;
        padding:    0;
        z-index:    1;
        @include transAll($aTrans * 0.35);
        &>:nth-child(n+1){
          padding-bottom: 1px;
          padding-right:  0;
        }
        &>:last-child{
          padding-bottom: 0;
        }
        li{
          width:            100%;
          padding-left:     10px;
          padding-right:    10px !important;
          background-color: #FFF;
          a{
            width:   100%;
            margin:  0 -10px;
            padding: 0  10px;
          }
        }
      }
    }
  }
}

#content {
  margin:           0 auto;
  padding:          10px 5px 5px; // Optimized short hand version of 10px 5px 5px 5px.
  min-height:       100%;
}

#footer {
  position:         absolute;
  bottom:           0;
  border-top:       3px solid $horizontalBars;
  padding-top:      20px;
  width:            100%;
  height:           $footerHeight;
  background-color: $headerAndFooterMainColor;

}

#xhtmlCss {
  float:        left;
  width:        67%;
  padding-left: $footerPadding;
}

#rss {
  float:         right;
  width:         30%;
  text-align:    right;
  padding-right: $footerPadding;
}

a:link, a:visited {
  color: $links;
}

// CSS for successfull registration messege
#centeredBox{
  width:          50%;
  border:         3px solid $horizontalBars;
  padding:        10px;
  margin:         25px auto 0;
  font-family:    $font-family;
  font-size:      16px;
  letter-spacing: 1px;
  font-weight:    bold;
  @include borderRadius(5px);
  @include boxShadow(2px 5px 10px, $formShadow);
}

.required{
  color:       #EE0000;
  font-weight: bold; 
}

// Import other CSS documents here
@import "forms";