@charset "UTF-8";
/*
 * This is the Master SCSS file for the Corvallis Montessori School Student-Parent Administration web application
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * testing
 * SASS -> http://sass-lang.com/
 */

$aTrans:     0.75s;    // Transition speed
$menuHeight: 30px;     // Height of the top menu [>45 yeilds undesireable results]
$dPurple:    #613860;
$purple:     #5C4F79;  // Side Bar
$lBlue:      #5faba9;  // Seperator for nav
$blue:       #536C8D;  // Content
$rainforest: #4F8B89;  // Header/Footer
$green:      #62A07B;
$grey:       #ccc;     // Body

// Mixins
@mixin mainButtons {
  a {
    color:           $grey;
    height:          $menuHeight;
    line-height:     $menuHeight;
    padding:         0 10px;
    display:         inline-block;
    text-decoration: none;
    background:{
      image:    url("../images/nav.png");
      repeat:   repeat-x;
      position: top 0 0;
    }
    &:hover{
      color: $purple;
      background-position: 0 -45px;
    }
    &:active{
      color:   $green;
      outline: none;
      background-position: 0 -90px;
    }
  }
}
// End Mixins

html,body {
  height: 100%;
}

/****************************************************
 *  BODY
 ***************************************************/
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin:      0;
  padding:     10px;
  background-color: $grey;
}

/****************************************************
 *  Main
 ***************************************************/
#main {
  margin:     0 auto;
  padding:    0;
  min-width:  780px;
  max-width:  1120px;
  min-height: 500px;
  background-color: $purple;
}

/****************************************************
 *  HEADER
 ***************************************************/
#header {
  width:   100%;
  margin:  0;
  padding: 0;
  background-color: $grey;
}

/****************************************************
 *  TOP MENU
 ***************************************************/
#topNav {
  position:   relative;
  bottom:     0;
  height:     $menuHeight;
  background-color: $rainforest;
  ul{
    float:      right;
    list-style: none;
    margin:     0;
    &>:nth-child(n+1){
      padding-right: 1px;
    }
    &>:last-child{
      padding-right: 0;
    }
    a{
      white-space: nowrap;
    }
    li{
      font-size:   11px;
      float:       left;
      position:    relative;
      display:     inline-block;
      background-color: $lBlue;
      &:hover > ul{
        visibility: visible;
        opacity:    1;
        top:        $menuHeight;
      }
      @include mainButtons;
      ul{
        position:      absolute;
        right:         20px;
        z-index:       1000;
        visibility:    hidden;
        opacity:       0;
        padding:       0;
        &>:nth-child(n+1){
          padding-bottom: 1px;
          padding-right: 0;
        }
        &>:last-child{
          padding-bottom: 0;
        }
        li{
          width:         100%;
          padding-left:  10px;
          padding-right: 10px !important;
          a{
            width:   100%;
            margin:  0 -10px;
            padding: 0  10px;
          }
        }
      }
    }
  }
}

/****************************************************
 *  SIDE BAR
 ***************************************************/
#sideBar {
  width:      200px;
  float:      left;
  padding:    5px;
  text-align: center;
  word-wrap:  break-word;  // CSS 3 -> Experimental.  If weird things happen remove this line.
  ul {
    list-style: none;
    padding: 0;
  }
}

#alert{
  cursor:   default;
  position: relative;
  &:first-child{
    color:       #bd0000;
    font-weight: bold;
    font-size:   22px;
    text-decoration: underline;
  }
  &:hover>div{
    visibility: visible;
    opacity:    1; 
  }
  div{
    visibility: hidden;
    opacity:    0;
    position:   absolute;
    left:       100px;
    top:        30px;
    width:      500px;
    background-color: #ccc;
    padding: 5px;
  /* Transitions: Default, Webkit, Presto, Mozzila/Gecko */
    transition-property: opacity, visibility;
    transition-duration: $aTrans;
    -webkit-transition: opacity $aTrans, visibility $aTrans;
    -o-transition-property: opacity, visibility;
    -o-transition-duration: $aTrans;
    -moz-transition-property: opacity, visibility;
    -moz-transition-duration: $aTrans;
  /* End Transitions */
  }
}

/****************************************************
 *  CONTENT
 ***************************************************/
#content {
  padding:     10px 5px 5px 5px;
  margin-left: 210px;
  min-height:  557px;
  background-color: $blue;
}

/****************************************************
 *  FOOTER
 ***************************************************/
#footer {
  padding-top: 10px;
  min-height:  54px;
  text-align:  center;
  background-color: $rainforest;
}