/*
 * This is the Master SCSS file for the Corvallis Montessori School Student-Parent Administration web application
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * testing
 * SASS -> http://sass-lang.com/
 */

$aTrans:     0.75s;    // Transition speed
$dPurple:    #613860;
$purple:     #5C4F79;  // Left Rail
$blue:       #536C8D;  // Content
$rainforest: #4F8B89;  // Header/Footer
$green:      #62A07B;

// Mixins 
@mixin mainButtons {
  a {
    font-size: 80%;
    color: $dPurple;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    background-image: url("../images/nav.png");
    background-position: top 0;
    background-repeat: repeat-x;
    display: inline-block;
    text-decoration: none;
    &:hover{
      background-position: 0 -45px;
      color: $purple;
    }
    &:active{
      background-position: 0 -90px;
      color: $purple;
      outline: none;
    }
  }
}
// End Mixins

html,body {
  height: 100%;
}

/****************************************************
 *  BODY
 ***************************************************/
body {
  font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
  margin:      0;
  padding:     10px;
}

/****************************************************
 *  Main
 ***************************************************/
#main {
  margin:     0 auto;
  padding:    0;
  min-width:  780px;
  max-width:  1120px;
  min-height: 500px;
  background-color: $purple;
}

/****************************************************
 *  HEADER
 ***************************************************/
#header {
  width:   100%;
  margin:  0;
  padding: 0;
  background-color: #FFFFFF;
}

/****************************************************
 *  TOP MENU - Needs work
 ***************************************************/
#topNav {
  position:   relative;
  bottom:     0;
  height:     30px;
  text-align: right;
  background-color: $rainforest;
  ul{
    list-style:    none;
    margin-bottom: 0;
    li{
      font-size:   11px;
      display:     inline;
      position:    relative;
      padding:     2px;
      background-color: $purple;
      display: inline-block;
      &:hover>ul{
        visibility: hidden;
      }
      @include mainButtons;
      ul{
        position:   absolute;
        top:        23px;
        display:    block;
        visibility: hidden;
        text-align: center;
        min-width:  75px;
        border:     1px solid #b4b4b4;
        background-color: #ddd;
        li{
          display: list-item;
          padding: 5px 0;
          margin:  10px 0;
          border:  1px solid #ccc;
        }
      }
    }
  }
}

/****************************************************
 *  SIDE BAR
 ***************************************************/
#sideBar {
  width:      200px;
  float:      left;
  padding:    5px;
  text-align: center;
  word-wrap:  break-word;  // CSS 3 -> Experimental.  If weird things happen remove this line.
  ul {
    list-style: none;
    padding: 0;
  }
}

#alert{
  cursor:   default;
  position: relative;
  &:first-child{
    color:       #bd0000;
    font-weight: bold;
    font-size:   22px;
    text-decoration: underline;
  }
  &:hover>div{
    visibility: visible;
    opacity:    1; 
  }
  div{
    visibility: hidden;
    opacity:    0;
    position:   absolute;
    left:       100px;
    top:        30px;
    width:      500px;
    background-color: #ccc;
    padding: 5px;
  /* Transitions: Default, Webkit, Presto, Mozzila/Gecko */
    transition-property: opacity, visibility;
    transition-duration: $aTrans;
    -webkit-transition: opacity $aTrans, visibility $aTrans;
    -o-transition-property: opacity, visibility;
    -o-transition-duration: $aTrans;
    -moz-transition-property: opacity, visibility;
    -moz-transition-duration: $aTrans;
  /* End Transitions */
  }
}

/****************************************************
 *  CONTENT
 ***************************************************/
#content {
  padding:     10px 5px 5px 5px;
  margin-left: 210px;
  min-height:  557px;
  background-color: $blue;
}

/****************************************************
 *  FOOTER
 ***************************************************/
#footer {
  padding-top: 10px;
  min-height:  54px;
  text-align:  center;
  background-color: $rainforest;
}