@charset "UTF-8";
/*
 * This is the scss/css file for styling forms
 * written by Rory C-H, Justin Field, Wesly Cos, and Mark Bowser in 2012 as part of the Oregon State University senior capstone
 * the team can be reached at cms-team@googlegroups.com
 * testing
 * SASS -> http://sass-lang.com/
 */

// **************** Defined Colors ************************* 

$grey:              #ccc;
$white:             #fff;
$black:             #000;

// the menu color from http://www.corvallismontessori.org/
$cmsLightBlue:      #019fd5;

// the ACTIVE menu color from http://www.corvallismontessori.org/
$cmsDarkBlue:       #006383;

// the green horizontal bar from http://www.corvallismontessori.org/
$cmsGreen:          #56ac2a;

$reallyLightBlue:   #ddeeff;

// ************ Color Theme ***************************

$forumBackgroundColor:        $reallyLightBlue;
$formBoarder:                 $cmsGreen;
$submitButtonColor:           $cmsLightBlue;
$submitButtonHoverColor:      $cmsDarkBlue;
$submitBoarder:               $cmsGreen;
$submitButtonTextColor:       $white;
$fieldsetBorder:              $cmsGreen;
$formShadow:                  $cmsLightBlue;


// ****************************************************

form{
  width: 50%;
  margin: 0 auto;
  border: solid 3px $formBoarder;
  background: $forumBackgroundColor;
  padding: 20px;
  
    /*** Rounded Corners ***/
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  -o-border-radius:      5px;
  border-radius:         5px;
  
  /*** Shadow behind the box ***/
  -webkit-box-shadow:2px 5px 10px $formShadow;
  -moz-box-shadow:   2px 5px 10px $formShadow;
  -o-box-shadow:     2px 5px 10px $formShadow;
  box-shadow:        2px 5px 10px $formShadow;
  
  font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
    
}

input, textarea {  
    padding: 9px;  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    width: 200px;  
    background: #FFFFFF url('bg_form.png') left top repeat-x;  
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
    }  
  
textarea {  
    width: 400px;  
    max-width: 400px;  
    height: 150px;  
    line-height: 150%;  
    }  
  
input:hover, textarea:hover,  
input:focus, textarea:focus {  
    border-color: #C9C9C9;  
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
    }  
  
.form label {  
    margin-left: 10px;  
    color: #999999;  
    }  
  
.submit{  
    float:right;
    width: auto;  
    padding: 9px 15px;  
    background: $submitButtonColor;  
    border: 0;  
    font-size: 14px;  
    color: $submitButtonTextColor;
    border: 2px solid $submitBoarder;  

    /*** Rounded Corners ***/
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    -o-border-radius:      5px;
    border-radius:         5px;
}  

.submit:hover{
    border:         2px solid $submitBoarder;
    background:     $submitButtonHoverColor;
  }

legend{
  padding-left: 10px;
  padding-right: 10px;
}

fieldset{
  border: solid 2px $fieldsetBorder;
  margin-bottom: 15px;
  padding:25px;
}

// clearing
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    min-width: 0;
    display: inline-block; /* \*/
    display: block;
    margin-top: 5px;
}